@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia.eot");
  src: url("../fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff"), url("../fonts/Georgia.ttf") format("truetype"), url("../fonts/Georgia.svg#Georgia") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* define variables  */
body {
  font-size: 16px;
  position: relative;
  color: #fff;
  padding-bottom: 65px;
}

.sticky-top {
  z-index: 1020;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav .navbar-brand {
  font-size: 22px;
  font-weight: bold;
  font-family: "Georgia";
  color: #fff;
}

.navbar-collapse ul li a {
  padding-left: 25px !important;
  padding-right: 25px !important;
  color: #fff;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.7) !important;
  height: 80px;
}

.hero-section {
  background-image: url(../images/kvothebooks.jpg);
  background-repeat: no-repeat;
  background-position: top;
  height: 700px;
  position: relative;
  padding-top: 15%;
}
.hero-section img {
  width: 100%;
}
.hero-section .hero-box {
  background-color: rgba(0, 0, 0, 0.6);
  width: 40%;
  padding: 10px 20px;
  color: #fff;
}
.hero-section .hero-box h1 {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 20px;
}
.hero-section .hero-btn {
  text-align: center;
}
.hero-section .hero-btn a {
  background: #28a745;
  color: #fff;
  padding: 10px 41px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.footer {
  background: #000;
  padding: 20px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 65px;
}
.footer p {
  margin-bottom: 0;
}

.page-content {
  padding: 30px 0 100px;
}

.search-field {
  background: #c0c0c0;
  padding: 15px;
}
.search-field .form-control:placeholder {
  color: #c0c0c0;
}

.book-list {
  margin-top: 50px;
}
.book-list .skeleton-card {
  border: 1px solid #c0c0c0;
  height: 178px;
  margin-bottom: 30px;
}
.book-list .book-thumb {
  width: 42%;
  float: left;
  background: #d8d8d8;
  display: inline-block;
  height: 176px;
}
.book-list .book-thumb img {
  width: 100%;
  height: 100%;
}
.book-list .book-desc {
  width: 50%;
  float: left;
  color: #000;
  padding: 5px 10px 0;
}
.book-list .book-desc h5 {
  margin-bottom: 0;
}
.book-list .book-desc span {
  font-size: 13px;
  margin-bottom: 10px;
  display: inline-block;
}
.book-list .book-desc p {
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .hamburger {
    color: #fff;
  }
  .hamburger:hover, .hamburger:focus {
    color: #fff;
    text-decoration: none;
  }

  .hero-section {
    padding-top: 28%;
  }
  .hero-section .hero-box {
    width: 65%;
  }
  .hero-section .hero-box h1 {
    font-size: 37px;
  }

  .book-list .col-md-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .book-list {
    margin-top: 30px;
  }

  .book-list .book-desc {
    width: 58%;
    padding: 5px 7px 0;
  }

  .bg-dark {
    height: auto;
  }

  .navbar-collapse ul li a {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hamburger {
    color: #fff;
  }
  .hamburger:hover, .hamburger:focus {
    color: #fff;
    text-decoration: none;
  }

  .hero-section {
    padding-top: 40%;
  }
  .hero-section .hero-box {
    width: 100%;
  }
  .hero-section .hero-box h1 {
    font-size: 37px;
  }

  .book-list {
    margin-top: 30px;
  }

  .book-list .book-desc {
    width: 58%;
    padding: 5px 10px 0;
  }

  .bg-dark {
    height: auto;
  }

  .navbar-collapse ul li a {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */
